<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="04f7345c-07bd-4722-9713-1c3c726d7456" name="https://maps.googleapis.com TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="04f7345c-07bd-4722-9713-1c3c726d7456fileName">https%3A%2F%2Fmaps.googleapis.com-TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
